<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="marcelin.thierry.chatapp">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".classes.ChatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PrivacyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.videotrimming.VideoTrimmerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SendContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StatsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UnwantedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MoodActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.VideoCallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ReceiveVideoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.ReceiveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CallScreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChannelReconnectActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".classes.FirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activities.ContactsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfilePictureActivity"
            android:parentActivityName=".activities.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.ForwardListMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FullScreenImageActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupCreationActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupChatActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupSettings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChannelActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChannelSettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserSelectionActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChannelAdminChatActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OneToOneChatSettings"
            android:parentActivityName=".activities.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChannelSubscriberActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsChannelActivity"
            android:parentActivityName=".activities.ChannelAdminChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForwardActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupForwardActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForwardMessageActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SharedActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activities.SubSettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.GroupSharedActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChannelSharedActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BlockedUsersActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SubscriptionActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.LockChannelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EditImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>